<!doctype html>  <!-- 声明文档类型-->
<html>
<head>
    <!--声明当前页面的编码集：charset=gbk,gb2312(中文编码),utf-8国际编码-->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>HTMl模板</title>
    <meta name="Keyword" content="关键词,关键词">
    <meta name="description" content="描述">
    <!--样式-->
    <style type='text/css'>
        *{margin:0; padding:0;}
        ul{list-style:none;}
        a{text-decoration:none;}
        .fl{float:left;}
        .fr{float:right;}
        .clearfix:after{content:""; display:block; clear:both;}

    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <%= locals.login  %>
    <h1>注册失败</h1>
<script type="text/javascript">


</script>

</body>
</html>